<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!-- Thank your Martin Sagastume for providing live search code -->
<!-- Things to do:-->
<!--   1) Create an "Add Ingredient" button
  --   Upon being pressed for the first time:
  --     - Create a new combination with a generated name
  --     - Add the ingredient displayed in the search to the combination
  --   For every ingredient added after that: 
  --     - Add the ingredient displayed in the search to the combination
  --   2) Create a "Recommendation" page that echoes out said combination
  --     - Allow users to rename their combination if they are logged in
  --   3) Create a "Recommend" button that takes you to the "Recommendation" page
  -->
{{include 'web2py_ajax.html'}}
{{extend 'layout.html'}}
<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>Find delicious ingredients!</title>
	
<link rel="stylesheet" href="{{=URL('static','css/ingredientstyle.css')}}">
    <script type="text/javascript" src="{{=URL(r=request,c='static',f='jquery.js')}}"></script>
    <script type="text/javascript">
    var buttonList = [];
	//Starts at 1 for simplicity
	buttonList[1] = "#i1";
	buttonList[2] = "#i2";
	buttonList[3] = "#i3";
	buttonList[4] = "#i4";
	buttonList[5] = "#i5";
	buttonList[6] = "#i6";
	buttonList[7] = "#i7";
	buttonList[8] = "#i8";
	buttonList[9] = "#i9";
	buttonList[10] = "#i10";
	buttonList[11] = "#i11";
	buttonList[12] = "#i12";
	buttonList[13] = "#i13";
	buttonList[14] = "#i14";
	buttonList[15] = "#i15";
	var currentButton = 1;
    jQuery(document).ready(function(){
    	$('#i1').hide();
    	$('#i2').hide();
    	$('#i3').hide();
    	$('#i4').hide();
    	$('#i5').hide();
    	$('#i6').hide();
    	$('#i7').hide();
    	$('#i8').hide();
    	$('#i9').hide();
    	$('#i10').hide();
    	$('#i11').hide();
    	$('#i12').hide();
    	$('#i13').hide();
    	$('#i14').hide();
    	$('#i15').hide();
        hide();
    });
	
	$(function() {  
	  $('.error').hide();
	  $("#submit_btn").click(function() {  
		// validate and process form here 
		$('.error').hide();  
		var ingredient = $("input#ingredient_search").val(); 
          if(ingredient!=''){
        $("input#ingredient_search").val(''); 
        ingredient = ingredient.toLowerCase();
         var dup = false;
		for(var j =0;j<buttonList.length;j++)
		{
            var curr = $(buttonList[j]).text();
            if(ingredient+ " ✖"==curr){
            dup = true;
            }
		}
           if(!dup){
				$(buttonList[currentButton]).html(ingredient+" ✖");
     			$(buttonList[currentButton]).show();
        		currentButton++;
            }

        if(currentButton==16) currentButton = 1;
      }
		return false; 
	  });  
	}); 
	
	$(function() {  
	  $('.error').hide();
	  $("#recommend_btn").click(function() {  
		// validate and process form here 
		$('.error').hide();  
		//var ingredient = $("input#ingredient_search").val(); 
		var ingredientList = '';
		for(var i = 0; i < buttonList.length; i++) {
			var curr = $(buttonList[i]).text().replace(" ✖", '');
			ingredientList += curr;
			ingredientList += ',';
		}
		$.post("{{=URL(r=request,f='createcombination')}}",{ingredientList:ingredientList},function(result){
					 window.location.href = "recommend.html";
        });
		return false; 
	  });  
	}); 
	
	
    function getData(value){
        if(value != ""){
            $("#ajaxresults").show();
            $.post("{{=URL(r=request,f='ajaxlivesearch')}}",{partialstr:value},function(result){
                $("#ajaxresults").html(result);
            });
        }else{
            hide();
        }
    }

	
    function hide(){
        $("#ajaxresults").hide();
    }

    function copyToBox(value){
        $("#ingredient_search").val(value);
        hide();
    }   
    </script>
</head>
<body>
	<div id="ingredientsbox">
		<div id="combinationform">
		<form action="" enctype="multipart/form-data" method="post">
			<br /><label for="ingredient_search">Search ingredients:</label>
			<input type="text" id="ingredient_search" name="ingredient_search" autocomplete="off" onkeyup="getData(this.value);" />
			<div id="ajaxresults"></div>
			<input type="submit" name="submit" class="button" id="submit_btn" value="Add" />
		</form>
		</div>
		<div id="ingredientList">
			<h3> Choices </h3>
			<div class="chosen_ingredients"> 
				<button id='i1' type='button' onclick = "$('#i1').html('');$('#i1').hide();">Add</button>
				<button id='i2' type='button' onclick = "$('#i2').html('');$('#i2').hide();">Add</button>
				<button id='i3' type='button' onclick = "$('#i3').html('');$('#i3').hide();">Add</button>
				<button id='i4' type='button' onclick = "$('#i4').html('');$('#i4').hide();">Add</button>
				<button id='i5' type='button' onclick = "$('#i5').html('');$('#i5').hide();">Add</button>
				<button id='i6' type='button' onclick = "$('#i6').html('');$('#i6').hide();">Add</button>
				<button id='i7' type='button' onclick = "$('#i7').html('');$('#i7').hide();">Add</button>
				<button id='i8' type='button' onclick = "$('#i8').html('');$('#i8').hide();">Add</button>
				<button id='i9' type='button' onclick = "$('#i9').html('');$('#i9').hide();">Add</button>
				<button id='i10' type='button' onclick = "$('#i10').html('');$('#i10').hide();">Add</button>
				<button id='i11' type='button' onclick = "$('#i11').html('');$('#i11').hide();">Add</button>
				<button id='i12' type='button' onclick = "$('#i12').html('');$('#i12').hide();">Add</button>
				<button id='i13' type='button' onclick = "$('#i13').html('');$('#i13').hide();">Add</button>
				<button id='i14' type='button' onclick = "$('#i14').html('');$('#i14').hide();">Add</button>
				<button id='i15' type='button' onclick = "$('#i15').html('');$('#i15').hide();">Add</button>
			</div>
			
			<div id="recommendsubmit">
			<form><input type="submit" class="button" id="recommend_btn" value="Recommend" /></form>
			</div>
		</div>
		
	</div>
	<!--<div id="recommend">
		<input type="submit" class="button" id="recommend_btn" value="Recommend" />
	</div>-->
</body>
</html>
