
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" >

	<head>
		<link href='http://fonts.googleapis.com/css?family=Fanwood+Text' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=McLaren' rel='stylesheet' type='text/css'>

		<title>Recipe Recommender</title>
		<script src="http://code.jquery.com/jquery-latest.js"></script>
		</script>
		
		<link href="style.css" rel="stylesheet" type="text/css">
	</head>

	<body>
		<div id="topbanner">
			<h1>Ingredient Recommender</h1>
		</div>
		<div id="toolbars">
			<div id="loginbar">
			<p><a href="login.html">Login</a></p>
			</div>

			<div id="settingsbar">
			<p><a href="settings.html">Settings</a></p>
			</div>
		</div>
		<div id="contentsbar"> 
			<div id="favorites">
				<h3><a href="favorites.html">Favorites</a></h3>
			</div>
			<div id="upcoming">
				<h3><a href="upcoming.html">Upcoming</a></h3>
			</div>
			<div id="delicious">
				<h3><a href="delicious.html">Delicious</a></h3>
			</div>
		</div>
		
		<div id="ingredients">
			<h2>Ingredient list</h2>
			<form method="post" action="">
				<textarea name="comments" cols="25" rows="5">Enter some ingredients!
				</textarea>
				<br>
				<input type="submit" value="Submit" />
			</form>
			<br><br><br><br>
			<div id="recommend">
				<h2>Recommend</h2>
			</div>
		</div>
	
		
		


		

	</body>

</html>