			body {
				background-image: url('tile.jpeg');
				color:white;
				background-color: black;
				font-family: 'McLaren', serif;
				font-size: 18px;
			}
			h1{
				font-size: 46px;
				font-family: 'Fanwood Text', serif;
				text-align: center;
			}
			h3{
				font-style: italic;
				text-decoration: underline;
				
			}
			a{
				color:#000000;
			}
			a:visited{
				color:#D8D8D8;
			}
			#topbanner{
				background-image: url('gray_banner.jpeg');
				width: 85%;
				height: 20%;
				border: 5px;
				border-style: solid;
				border-color: black;
				border-radius: 15px 15px 15px 15px;
				z-index:-1;
				float: left;
			}
			#toolbars{
				text-align: center;
				padding:1px;
				width:13%;
				float: left;
					position: relative;
			}
			#loginbar{
				
				border: 2px;
				border-style:solid;
				border-radius: 15px;
			
				color: black;
				background-color: yellow;

			}
			#settingsbar{
				border: 2px;
				border-style:solid;
				border-radius: 15px;
			
				color: black;
				background-color: red;
				
				
			}
			#contentsbar{
				display: block;
				background-color: black;
				text-align: center;
					position: relative;
			}
			#favorites{
				width:32%;
				float:left;
				background-color: purple;
				border: 2px;
				border-style: solid;
				border-color: black;
				border-radius: 15px 15px 15px 15px;
				display:block;
			}
			#upcoming{
				width:32%;
				float:left;
				background-color: purple;
				border: 2px;
				border-style: solid;
				border-color: black;
				border-radius: 15px 15px 15px 15px;
				display:block;
			}
			#delicious{
				width:32%;
				float:left;
				background-color: purple;
				border: 2px;
				border-style: solid;
				border-color: black;
				border-radius: 15px 15px 15px 15px;
				display:block;
			}
			#ingredients{
			
				width:75%;
				height:50%;
				background-color:black;
				top:250px;
				left:100px;
				position: fixed;
				text-align: center;
				overflow:auto;
				border: 10px;
				border-style: solid;
				border-color: black;
				border-radius: 15px 15px 15px 15px;
			}
			#recommend{
				background-color:blue;
				position: fixed;
				text-align:center;
				height:15%;
				width:75%;
				border: 1px;
				border-style: solid;
				border-color: black;
				border-radius: 15px 15px 15px 15px;
				
			}

		
			}
			ul{
				list-style-type: none;
				margin-left: 0px;
				padding: 5px;
			}
			