body {

		//background-color: #FFFFD6;
		background-image:url('../images/ingredients/pattern.png');
		background-repeat:repeat;
		font-family: 'Arial', serif;
		font-size: 18px;
		color:#1A1A1A
		text-align: center;
		overflow: auto;
	}
	h1{
		font-size: 50px;
		text-align: center;
	}
	h3{
            font-family: 'Arial', serif;
	}
	a{
		color:#000000;
	}
	a:visited{
		color:#D8D8D8;
	}
	#ingredientsbox {
		background-color: #F1F1F1;
		width: 800px;
		height: 400px;
		top: 200px;
		left: 50%;
		position: fixed;
		border-radius: 5px 5x 5px 5px;
		margin-left: -400px;
	}

	#recommended{
		background-color: #F1F1F1;
		width: 800px;
		border-radius: 5px 5x 5px 5px;
		padding: 10px 10px 30px 10px;
	}	
	#success_btn_area{
	float: left;
	padding: 0px 10px 0px 0px;
}
	#next_btn_area{
	float: left;
}
	#listingredientsbox{
		width:40%;
		height:70%;
		top:10%;
		left:55%;
		position: fixed;
		border: 3px;
		margin-r: -3px;
		border-style: solid;
		border-color: black;
	}
	#cooking{
	border: 2px;
		padding: 5px;
		border-top: 3px solid #E8E8E8;
		border-bottom: 3px solid #E8E8E8;
	
}
	#recommend{
		background-color:#47B5FF;
		position: fixed;
		border-style: solid;
		border-color: black;
		top:65%;
		left:25%;
		height:7.5%;
		width:50%;
		border: 2px;
		border-color: black;
		border-top: 3px solid #E8E8E8;
		border-radius: 15px 15px 15px 15px;		
		text-align: center;	
	}
	#delete_ingredients {
		position: fixed;
		top:55%;
	}
	.ingredient {  
		color:red; 
		margin:5px; 
		cursor:pointer; 
	}
	.ingredient:hover { background:yellow; }
	}
	ul{
		list-style-type: none;
		margin-left: 0px;
		padding: 5px;
	}
    #ajaxresults{
        background: #ffffff;
        padding: 5px 10px;
        max-height: 220px;
        overflow: auto;
        z-index: 150;
        border: 1px solid #A9A9A9;
        border-width: 0 1px 1px 1px;
        -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
        -box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
        margin-top: -12px;
		padding-left:20px;
		position: relative;
    }
	
	#ajaxpad{
        width: 26%;
        margin-left: 10%;
        z-index: 999;
        position: absolute;
	}
    #ajaxresults a{
        color:#666666;
    }
    input[type=text]{
        font-size:12px;
        color:#666666;
        background-color:#ffffff;
        padding: 5px 5px 5px 5px;
		position: relative;
        width:50%;
        height:15px;
        border:1px solid #999999;
		margin-left: 20%;
    }
	
	#recommendsubmit {
	position:absolute;
	bottom:0px;
	left: 0px;
	text-align: center;
	width: 100%;
	border-top: 3px solid #E8E8E8;
	height:20%;
	}
	
    #recommend_btn {
        margin-top: 15px;
    }
	
	#combinationform {
	float: left;
    width: 50%;
	height: 80%;
	overflow:show;
	border-right: 2px solid #E8E8E8;
	margin-right: -2px;
	}
	
	#ingredientList {
	float: right;
	width: 50%;
	height: 80%;
    border-left: 1px solid #E8E8E8;
	margin-left: -1px;
	}
	
	#seperator{
	width:1px;
	border-left:1px solid #E8E8E8;
	border-right:1px solid #E8E8E8;
	}
	
    #submit_btn {
	margin-top: -6px;
	}
	
	.chosen_ingredients {
        margin-left: 25px;
        margin-right: 25px;
    }
	
	#about_box {
	background-color: #F1F1F1;
	width: 800px;
	height: 220px;
	top: 650px;
	left: 50%;
	position: fixed;
	border-radius: 5px 5x 5px 5px;
	margin-left: -400px;	
	}
